
<!-- <ion-header-bar class="bar-positive">
  <h1 class="title" side="center">John's Todo List</h1>
</ion-header-bar>

<ion-content class="has-header">
  <div class="item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="New Todo" ng-model="input.name">
    </label>
    <button class="button button-icon ion-android-add-circle" ng-click="addTodo()"></button>
  </div>

  <ion-list can-swipe="true">
    <ion-item ng-repeat="item in todos">
      <i class="icon ion-arrow-left-b"></i>
      {{item.name}}
    <ion-option-button class="button button-icon ion-trash-a padding-right" ng-click="deleteTodo(item.id)"></ion-option-button>
  </ion-item></ion-list>
</ion-content> -->


<ion-header-bar class="bar-positive">
  <h1 class="title" side="center">Acetaminophen psi parameter calculator</h1>
</ion-header-bar>

<ion-content class="has-header">
  <div class="list list-inset card">
    <label class="item item-input item-stacked-label">
      <span class="input-label">APAP Level (μg/mL)</span>
      <input type="number" ng-model="apap" placeholder="ex. 100.00" ng-model-onblur ng-change="getPSI(apap,bdrawn,tnac,ti)">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Blood Drawn Time (hour)</span>
      <input type="number" ng-model="bdrawn" placeholder="ex. 12" ng-model-onblur ng-change="getPSI(apap,bdrawn,tnac,ti)">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Tnac (hour)</span>
      <input type="number" ng-model="tnac" placeholder="ex. 14" ng-model-onblur ng-change="getPSI(apap,bdrawn,tnac,ti)">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Ti (hour)</span>
      <input type="number" ng-model="ti" placeholder="ex. 4" ng-model-onblur ng-change="getPSI(apap,bdrawn,tnac,ti)">
    </label>
  </div>

  <div class="card">
      <div class="item item-divider">
          Concentration VS Time
      </div>
      <div class="item item-text-wrap">
          <canvas id="line" class="chart chart-line" chart-data="dataCT" chart-labels="labelsCT" legend="true" chart-series="seriesCT" options="{showTooltips: false}"></canvas>
      </div>
  </div>

  <div class="card">
      <div class="item item-divider">
          Risk of Hepatotoxicity
      </div>
      <div class="item item-text-wrap">
          <canvas id="line" class="chart chart-line" chart-data="dataRisk" chart-labels="labelsRisk" legend="true" chart-series="seriesRisk" options="{showTooltips: false}"></canvas>
      </div>
  </div>

  <div class="list list-inset card">
    <div class="item item-text-wrap">
      <div ng-if="final_psi === 0">
        PSI value
      </div>
      <div ng-if="final_psi !== 0">
        <!-- {{final_psi/150 | number: 3}} -->
        <p ng-bind-html-unsafe="{{final_psi/150 | number: 3}}"></p>
      </div>
    </div>
  </div>



</ion-content>
